@charset "UTF-8";

html {
    height: 100%;
    font-size: 12.5vw;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    position: relative;
    font: 16px/1.25 Helvetica, monospace, \5b8b\4f53, sans-serif;
    color: #333;
}
figcaption, section, details, article, header, hgroup, footer, figure, aside, menu, main, nav {
    display: block;
}
strong, samp, code, cite, var, kbd, dfn, bdo, bdi, em, tt {
    display: inline;
}
textarea, button, select, input {
    margin: 0;
    outline: 0;
    border-radius: 0;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #999;
    font: 1em/1 Helvetica, monospace;
    background-color: #fff;
    color: inherit;
}
progress, canvas, audio, video {
    display: inline-block;
}
samp, code, pre, kbd, var, tt {
    font: 1em/1.25 monospace;
}
summary {
    outline: 0;
    display: list-item;
}
legend {
    border: 0;
    padding: 0;
    display: table;
    max-width: 100%;
    white-space: normal;
    box-sizing: border-box;
}
table {
    border: 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
form {
    margin: 0;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
hr {
    border: 0;
    margin: 0;
    height: 1px;
    overflow: hidden;
    box-sizing: content-box;
    background-color: #999;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
template, [hidden] {
    display: none;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
abbr[title] {
    cursor: help;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
a {
    outline: 0;
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a.hover,
a:hover {
    color: #23527c;
    text-decoration: underline;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="radio"],
input[type="checkbox"] {
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    border-width: 0\9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="url"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
    padding: .5em;
    height: calc(2em + 2px);
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
button {
    padding: .5em 2em;
    border-color: #ccc;
    height: calc(2em + 2px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button.hover:not(:disabled),
button:hover:not(:disabled) {
    border-color: #adadad;
    background-color: #e6e6e6;
}
button.active:not(:disabled),
button:active:not(:disabled) {
    border-color: #8c8c8c;
    background-color: #d4d4d4;
}
select {
    padding: .5em;
    height: calc(2em + 2px);
    background-size: 2em 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-padding-end: 2em;
    -webkit-appearance: none;
    -moz-padding-end: 2em;
    -moz-appearance: none;
}
textarea {
    resize: none;
    overflow: auto;
    vertical-align: top;
    padding: .5em .5em 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
::-ms-clear,
::-ms-reveal {
    display: none;
}
::-ms-expand {
    width: 1.5em;
    padding: 0;
    opacity: 0;
}
::-ms-check {
    border-width: 1px;
    border-style: inherit;
    border-color: inherit;
    background-size: inherit;
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
    background-color: inherit;
    box-shadow: inherit;
    color: transparent;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
}
::-moz-placeholder {
    color: #999;
}
::-webkit-input-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
:invalid,
:required {
    box-shadow: 0 0 0 transparent;
}
:disabled {
    color: #666;
    cursor: not-allowed;
    background-color: #eee;
    border-color: #ccc;
}
:disabled::-ms-check {
    box-shadow: inherit;
    border-color: inherit;
    background-color: inherit;
    background-image: inherit;
}
button:not(:disabled),
input[type="radio"]:not(:disabled),
input[type="checkbox"]:not(:disabled) {
    cursor: pointer;
}
button.primary:not(:disabled),
button.success:not(:disabled),
button.message:not(:disabled),
button.warning:not(:disabled),
button.invalid:not(:disabled) {
    color: #fff;
}
textarea.primary:not(:disabled), button.primary:not(:disabled), select.primary:not(:disabled), input.primary:not(:disabled) {
    border-color: #2e6da4;
}
textarea.success:not(:disabled), button.success:not(:disabled), select.success:not(:disabled), input.success:not(:disabled) {
    border-color: #4cae4c;
}
textarea.message:not(:disabled), button.message:not(:disabled), select.message:not(:disabled), input.message:not(:disabled) {
    border-color: #46b8da;
}
textarea.warning:not(:disabled), button.warning:not(:disabled), select.warning:not(:disabled), input.warning:not(:disabled) {
    border-color: #eea236;
}
textarea.invalid:not(:disabled), button.invalid:not(:disabled), select.invalid:not(:disabled), input.invalid:not(:disabled) {
    border-color: #d43f3a;
}
textarea.primary.hover:not(:disabled), button.primary.hover:not(:disabled), select.primary.hover:not(:disabled), input.primary.hover:not(:disabled),
textarea.primary:hover:not(:disabled), button.primary:hover:not(:disabled), select.primary:hover:not(:disabled), input.primary:hover:not(:disabled) {
    border-color: #204d74;
}
textarea.success.hover:not(:disabled), button.success.hover:not(:disabled), select.success.hover:not(:disabled), input.success.hover:not(:disabled),
textarea.success:hover:not(:disabled), button.success:hover:not(:disabled), select.success:hover:not(:disabled), input.success:hover:not(:disabled) {
    border-color: #398439;
}
textarea.message.hover:not(:disabled), button.message.hover:not(:disabled), select.message.hover:not(:disabled), input.message.hover:not(:disabled),
textarea.message:hover:not(:disabled), button.message:hover:not(:disabled), select.message:hover:not(:disabled), input.message:hover:not(:disabled) {
    border-color: #269abc;
}
textarea.warning.hover:not(:disabled), button.warning.hover:not(:disabled), select.warning.hover:not(:disabled), input.warning.hover:not(:disabled),
textarea.warning:hover:not(:disabled), button.warning:hover:not(:disabled), select.warning:hover:not(:disabled), input.warning:hover:not(:disabled) {
    border-color: #d58512;
}
textarea.invalid.hover:not(:disabled), button.invalid.hover:not(:disabled), select.invalid.hover:not(:disabled), input.invalid.hover:not(:disabled),
textarea.invalid:hover:not(:disabled), button.invalid:hover:not(:disabled), select.invalid:hover:not(:disabled), input.invalid:hover:not(:disabled) {
    border-color: #ac2925;
}
textarea.primary.active:not(:disabled), button.primary.active:not(:disabled), select.primary.active:not(:disabled), input.primary.active:not(:disabled),
textarea.primary:active:not(:disabled), button.primary:active:not(:disabled), select.primary:active:not(:disabled), input.primary:active:not(:disabled) {
    border-color: #122b40;
}
textarea.success.active:not(:disabled), button.success.active:not(:disabled), select.success.active:not(:disabled), input.success.active:not(:disabled),
textarea.success:active:not(:disabled), button.success:active:not(:disabled), select.success:active:not(:disabled), input.success:active:not(:disabled) {
    border-color: #255625;
}
textarea.message.active:not(:disabled), button.message.active:not(:disabled), select.message.active:not(:disabled), input.message.active:not(:disabled),
textarea.message:active:not(:disabled), button.message:active:not(:disabled), select.message:active:not(:disabled), input.message:active:not(:disabled) {
    border-color: #1b6d85;
}
textarea.warning.active:not(:disabled), button.warning.active:not(:disabled), select.warning.active:not(:disabled), input.warning.active:not(:disabled),
textarea.warning:active:not(:disabled), button.warning:active:not(:disabled), select.warning:active:not(:disabled), input.warning:active:not(:disabled) {
    border-color: #985f0d;
}
textarea.invalid.active:not(:disabled), button.invalid.active:not(:disabled), select.invalid.active:not(:disabled), input.invalid.active:not(:disabled),
textarea.invalid:active:not(:disabled), button.invalid:active:not(:disabled), select.invalid:active:not(:disabled), input.invalid:active:not(:disabled) {
    border-color: #761c19;
}
button.primary:not(:disabled), input.primary:checked:not(:disabled) {
    background-color: #337ab7;
}
button.success:not(:disabled), input.success:checked:not(:disabled) {
    background-color: #5cb85c;
}
button.message:not(:disabled), input.message:checked:not(:disabled) {
    background-color: #5bc0de;
}
button.warning:not(:disabled), input.warning:checked:not(:disabled) {
    background-color: #f0ad4e;
}
button.invalid:not(:disabled), input.invalid:checked:not(:disabled) {
    background-color: #d9534f;
}
button.primary.hover:not(:disabled), input.primary.hover:checked:not(:disabled),
button.primary:hover:not(:disabled), input.primary:hover:checked:not(:disabled) {
    background-color: #286090;
}
button.success.hover:not(:disabled), input.success.hover:checked:not(:disabled),
button.success:hover:not(:disabled), input.success:hover:checked:not(:disabled) {
    background-color: #449d44;
}
button.message.hover:not(:disabled), input.message.hover:checked:not(:disabled),
button.message:hover:not(:disabled), input.message:hover:checked:not(:disabled) {
    background-color: #31b0d5;
}
button.warning.hover:not(:disabled), input.warning.hover:checked:not(:disabled),
button.warning:hover:not(:disabled), input.warning:hover:checked:not(:disabled) {
    background-color: #ec971f;
}
button.invalid.hover:not(:disabled), input.invalid.hover:checked:not(:disabled),
button.invalid:hover:not(:disabled), input.invalid:hover:checked:not(:disabled) {
    background-color: #c9302c;
}
button.primary.active:not(:disabled), input.primary.active:checked:not(:disabled),
button.primary:active:not(:disabled), input.primary:active:checked:not(:disabled) {
    background-color: #204d74;
}
button.success.active:not(:disabled), input.success.active:checked:not(:disabled),
button.success:active:not(:disabled), input.success:active:checked:not(:disabled) {
    background-color: #398439;
}
button.message.active:not(:disabled), input.message.active:checked:not(:disabled),
button.message:active:not(:disabled), input.message:active:checked:not(:disabled) {
    background-color: #269abc;
}
button.warning.active:not(:disabled), input.warning.active:checked:not(:disabled),
button.warning:active:not(:disabled), input.warning:active:checked:not(:disabled) {
    background-color: #d58512;
}
button.invalid.active:not(:disabled), input.invalid.active:checked:not(:disabled),
button.invalid:active:not(:disabled), input.invalid:active:checked:not(:disabled) {
    background-color: #ac2925;
}
input:checked {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMTQzLDQzOFEyMzIsNTIyLDM0MSw3MjNRNDg2LDI1MCw2NTcsMTM4QzU0MCwxMjAsNDg2LDcwLDMyNyw1MzBRMjM4LDM1MCwxNDMsNDM4WiI+PC9wYXRoPjwvc3ZnPg==");
}
input:checked:disabled {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjNjY2IiBkPSJNMTQzLDQzOFEyMzIsNTIyLDM0MSw3MjNRNDg2LDI1MCw2NTcsMTM4QzU0MCwxMjAsNDg2LDcwLDMyNyw1MzBRMjM4LDM1MCwxNDMsNDM4WiI+PC9wYXRoPjwvc3ZnPg==");   
}
input.primary:checked:not(:disabled),
input.success:checked:not(:disabled),
input.message:checked:not(:disabled),
input.warning:checked:not(:disabled),
input.invalid:checked:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTQzLDQzOFEyMzIsNTIyLDM0MSw3MjNRNDg2LDI1MCw2NTcsMTM4QzU0MCwxMjAsNDg2LDcwLDMyNyw1MzBRMjM4LDM1MCwxNDMsNDM4WiI+PC9wYXRoPjwvc3ZnPg==");
}
select {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMzMzIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select:disabled {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjNjY2IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.primary:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMzM3YWI3IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.success:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.message:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjNWJjMGRlIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.warning:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.invalid:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.primary.hover:not(:disabled),
select.primary:hover:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMjg2MDkwIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.success.hover:not(:disabled),
select.success:hover:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjNDQ5ZDQ0IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.message.hover:not(:disabled),
select.message:hover:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMzFiMGQ1IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.warning.hover:not(:disabled),
select.warning:hover:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjZWM5NzFmIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.invalid.hover:not(:disabled),
select.invalid:hover:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjYzkzMDJjIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.primary.active:not(:disabled),
select.primary:active:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMjA0ZDc0IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.success.active:not(:disabled),
select.success:active:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMzk4NDM5IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.message.active:not(:disabled),
select.message:active:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjMjY5YWJjIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.warning.active:not(:disabled),
select.warning:active:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjZDU4NTEyIiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
select.invalid.active:not(:disabled),
select.invalid:active:not(:disabled) {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MDAgODAwIj48cGF0aCBmaWxsPSIjYWMyOTI1IiBkPSJNMzAwLDM2MEg1MDBMNDAwLDIzMFpNNTAwLDQ0MEgzMDBMNDAwLDU3MFoiPjwvcGF0aD48L3N2Zz4=");
}
.smoothness textarea, .smoothness button, .smoothness select, .smoothness input:not([type="radio"]):not([type="checkbox"]) {
    border-radius: 5px;
}
.transition textarea, .transition button, .transition select, .transition input, .transition tr, .transition a {
    -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.brightness textarea, .brightness button, .brightness select, .brightness input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.brightness textarea.hover:not(:disabled), .brightness select.hover:not(:disabled), .brightness input.hover:not(:disabled),
.brightness textarea:hover:not(:disabled), .brightness select:hover:not(:disabled), .brightness input:hover:not(:disabled),
.brightness textarea:focus:not(:disabled), .brightness select:focus:not(:disabled), .brightness input:focus:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #adadad;
}
.brightness textarea.primary.hover:not(:disabled), .brightness select.primary.hover:not(:disabled), .brightness input.primary.hover:not(:disabled),
.brightness textarea.primary:hover:not(:disabled), .brightness select.primary:hover:not(:disabled), .brightness input.primary:hover:not(:disabled),
.brightness textarea.primary:focus:not(:disabled), .brightness select.primary:focus:not(:disabled), .brightness input.primary:focus:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #337ab7;
}
.brightness textarea.success.hover:not(:disabled), .brightness select.success.hover:not(:disabled), .brightness input.success.hover:not(:disabled),
.brightness textarea.success:hover:not(:disabled), .brightness select.success:hover:not(:disabled), .brightness input.success:hover:not(:disabled),
.brightness textarea.success:focus:not(:disabled), .brightness select.success:focus:not(:disabled), .brightness input.success:focus:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #5cb85c;
}
.brightness textarea.message.hover:not(:disabled), .brightness select.message.hover:not(:disabled), .brightness input.message.hover:not(:disabled),
.brightness textarea.message:hover:not(:disabled), .brightness select.message:hover:not(:disabled), .brightness input.message:hover:not(:disabled),
.brightness textarea.message:focus:not(:disabled), .brightness select.message:focus:not(:disabled), .brightness input.message:focus:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #5bc0de;
}
.brightness textarea.warning.hover:not(:disabled), .brightness select.warning.hover:not(:disabled), .brightness input.warning.hover:not(:disabled),
.brightness textarea.warning:hover:not(:disabled), .brightness select.warning:hover:not(:disabled), .brightness input.warning:hover:not(:disabled),
.brightness textarea.warning:focus:not(:disabled), .brightness select.warning:focus:not(:disabled), .brightness input.warning:focus:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #f0ad4e;
}
.brightness textarea.invalid.hover:not(:disabled), .brightness select.invalid.hover:not(:disabled), .brightness input.invalid.hover:not(:disabled),
.brightness textarea.invalid:hover:not(:disabled), .brightness select.invalid:hover:not(:disabled), .brightness input.invalid:hover:not(:disabled),
.brightness textarea.invalid:focus:not(:disabled), .brightness select.invalid:focus:not(:disabled), .brightness input.invalid:focus:not(:disabled):not([type="radio"]):not([type="checkbox"]) {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #d9534f;
}

.fg-primary { color: #337ab7; }
.fg-success { color: #5cb85c; }
.fg-message { color: #5bc0de; }
.fg-warning { color: #f0ad4e; }
.fg-invalid { color: #d9534f; }

.bg-primary { background-color: #337ab7; color: #fff; }
.bg-success { background-color: #5cb85c; color: #333; }
.bg-message { background-color: #5bc0de; color: #333; }
.bg-warning { background-color: #f0ad4e; color: #333; }
.bg-invalid { background-color: #d9534f; color: #333; }

.xs { font-size: .75em; }
.sm { font-size: .875em; }
.lg { font-size: 1.25em; }

.text-left       { text-align: left; }
.text-right      { text-align: right; }
.text-center     { text-align: center; }
.text-nowrap     { white-space: nowrap; }
.text-ellipsis   { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}
.vertial-middle::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.vertial-bottom::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
    width: 0;
}

table > thead > tr > th {
    border-bottom: 2px solid #ccc;
}
table > tbody > tr > th,
table > tbody > tr > td {
    border-top: 1px solid #ccc;
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
    text-align: left;
    padding: 8px;
}
table.condensed > thead > tr > th,
table.condensed > thead > tr > td,
table.condensed > tbody > tr > th,
table.condensed > tbody > tr > td,
table.condensed > tfoot > tr > th,
table.condensed > tfoot > tr > td {
    padding: 5px;
}
table.highlight > tbody > tr.hover,
table.highlight > tbody > tr:hover {
    background-color: rgba(0, 0, 0, .025);
}
table.striation > tbody > tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .025);
}
table.striation > tbody > tr:nth-child(even) {
    background-color: transparent;
}

.row {
    display: box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    width: 100%;
    padding: 15px;
    flex-basis: auto;
    box-sizing: border-box;
}

.col-xs-1         { width: 8.33333333%; }
.col-xs-2         { width: 16.66666667%; }
.col-xs-3         { width: 25%; }
.col-xs-4         { width: 33.33333333%; }
.col-xs-5         { width: 41.66666667%; }
.col-xs-6         { width: 50%; }
.col-xs-7         { width: 58.33333333%; }
.col-xs-8         { width: 66.66666667%; }
.col-xs-9         { width: 75%; }
.col-xs-10        { width: 83.33333333%; }
.col-xs-11        { width: 91.66666667%; }
.col-xs-12        { width: 100%; }
.col-xs-offset-1  { margin-left: 8.33333333%; }
.col-xs-offset-2  { margin-left: 16.66666667%; }
.col-xs-offset-3  { margin-left: 25%; }
.col-xs-offset-4  { margin-left: 33.33333333%; }
.col-xs-offset-5  { margin-left: 41.66666667%; }
.col-xs-offset-6  { margin-left: 50%; }
.col-xs-offset-7  { margin-left: 58.33333333%; }
.col-xs-offset-8  { margin-left: 66.66666667%; }
.col-xs-offset-9  { margin-left: 75%; }
.col-xs-offset-10 { margin-left: 83.33333333%; }
.col-xs-offset-11 { margin-left: 91.66666667%; }
.col-xs-offset-12 { margin-left: 100%; }
.container        { margin: 0 auto; }

@media (min-width: 800px) {
    .col-sm-1         { width: 8.33333333%; }
    .col-sm-2         { width: 16.66666667%; }
    .col-sm-3         { width: 25%; }
    .col-sm-4         { width: 33.33333333%; }
    .col-sm-5         { width: 41.66666667%; }
    .col-sm-6         { width: 50%; }
    .col-sm-7         { width: 58.33333333%; }
    .col-sm-8         { width: 66.66666667%; }
    .col-sm-9         { width: 75%; }
    .col-sm-10        { width: 83.33333333%; }
    .col-sm-11        { width: 91.66666667%; }
    .col-sm-12        { width: 100%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-12 { margin-left: 100%; }
    .container        { padding: 0 2.5% }
    .hidden-sm        { display: none !important; }
}
@media (min-width: 1280px) {
    .col-md-1         { width: 8.33333333%; }
    .col-md-2         { width: 16.66666667%; }
    .col-md-3         { width: 25%; }
    .col-md-4         { width: 33.33333333%; }
    .col-md-5         { width: 41.66666667%; }
    .col-md-6         { width: 50%; }
    .col-md-7         { width: 58.33333333%; }
    .col-md-8         { width: 66.66666667%; }
    .col-md-9         { width: 75%; }
    .col-md-10        { width: 83.33333333%; }
    .col-md-11        { width: 91.66666667%; }
    .col-md-12        { width: 100%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-12 { margin-left: 100%; }
    .container        { padding: 0 5.5% }
    .hidden-md        { display: none !important; }
}
@media (min-width: 1680px) {
    .col-lg-1         { width: 8.33333333%; }
    .col-lg-2         { width: 16.66666667%; }
    .col-lg-3         { width: 25%; }
    .col-lg-4         { width: 33.33333333%; }
    .col-lg-5         { width: 41.66666667%; }
    .col-lg-6         { width: 50%; }
    .col-lg-7         { width: 58.33333333%; }
    .col-lg-8         { width: 66.66666667%; }
    .col-lg-9         { width: 75%; }
    .col-lg-10        { width: 83.33333333%; }
    .col-lg-11        { width: 91.66666667%; }
    .col-lg-12        { width: 100%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-12 { margin-left: 100%; }
    .container        { padding: 0 8.5% }
    .hidden-lg        { display: none !important; }
}
@media (max-width: 799px) {
    .reveal-sm { display: none !important; }
}
@media (max-width: 1279px) {
    .reveal-md { display: none !important; }
}
@media (max-width: 1679px) {
    .reveal-lg { display: none !important; }
}
@media (-webkit-min-device-pixel-ratio: 2) {
    hr {
        background-image: -webkit-linear-gradient(#999 50%, #fff 50%);
        background-image: linear-gradient(#999 50%, #fff 50%);
    }
    table > tbody > tr > th,
    table > tbody > tr > td {
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: -webkit-linear-gradient(#ccc 50%, #fff 50%);
        background-image: linear-gradient(#ccc 50%, #fff 50%);
        border-top-color: transparent;
    }
}
@media (min-resolution: 192dpi) {
    hr {
        background-image: -webkit-linear-gradient(#999 50%, #fff 50%);
        background-image: -moz-linear-gradient(#999 50%, #fff 50%);
        background-image: -o-linear-gradient(#999 50%, #fff 50%);
        background-image: linear-gradient(#999 50%, #fff 50%);
    }
    table > tbody > tr > th,
    table > tbody > tr > td {
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: -webkit-linear-gradient(#ccc 50%, #fff 50%);
        background-image: -moz-linear-gradient(#ccc 50%, #fff 50%);
        background-image: -o-linear-gradient(#ccc 50%, #fff 50%);
        background-image: linear-gradient(#ccc 50%, #fff 50%);
        border-top-color: transparent;
    }
}