<div>
    <navigation name="index"></navigation>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>ELF.JS</h1>
                    <p>ELF.JS is a simple and efficient JavaScript framework. It not only places a great emphasis on the user's experience, but also places great emphasis on the developer's experience.</p>
                    <a target="_blank" href="https://www.elfjs.org">Learn more »</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>Statement</h2>
                <p>Easily create an interactive user interface. Automatically and accurately update and render the correct components.</p>
                <p>The template engine with Source Map makes your view more intuitive and easier to debug.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>Briefness</h2>
                <p>Based on the design of component, the complex structure is simplified and the code reuse rate is improved.</p>
                <p>The same HTML template and DOM event mechanism as the native, State management is more simple.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>Efficient</h2>
                <p>No need to compile and wait during development, Bring the acme development experience.</p>
                <p>10kb min+gzip size. Super fast virtual DOM.</p>
            </div>
        </div>
    </div>
    <copyright></copyright>
</div>